*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1e4ec;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    
}
label { 
    display:block; 
}


label {
    font-weight: bold;
}
.required:after {
    content:" *";
    color: red;
  }